# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
bin/
obj/
*.cbp.*
*.cbp~
*.layout*
*.depend
*.save/TrackGUI/.qdevelop
/"TrackGUI/TrackGUI (\345\244\215\344\273\266).pro"
/TrackGUI/TrackGUI.pro.user
